<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>LostList!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LostList</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
        </div>
    </nav>
    <div class="container" id="app">
        <div class="row">
            <div class="col-md-8 mx-auto" style="margin-top:100px">
                <div class="row">
                    <h3>{{ message }}</h3>
                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="text" v-model="current" class="form-control item">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" @click="addItem">Add Items</button>
                    </div>
                </div>
                <ul class="list-group" style="margin-top:10px">
                    <li class="list-group-item" v-for="item in items">
                      <input class="form-check-input me-1" type="checkbox" @change="markCompleted($event, item)">
                       <span v-if="item.is_completed"><strike>{{ item.content }}</strike></span>
                       <span v-if="!item.is_completed">{{ item.content }}</span>

                       <div class="btn-group" style="float:right">
                           <button class="btn btn-sm btn-outline-primary">Done</button>
                           <button class="btn btn-sm btn-outline-warning">Trash</button>
                       </div>
                    </li>
                </ul>

                <h3 style="margin-top:10px">Completed</h3>
                <ul class="list-group" style="margin-top:10px">
                    
                </ul>
            </div>
        </div>
    </div>

  </body>   
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script>

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Lets Go TodoList',
            current: '',
            items: [
                {is_active: true, is_completed: false, _id:'121', content: 'I really like to code'},
                {is_active: true, is_completed: false, _id:'122', content: "I will go to play"},
                {is_active: true, is_completed: false, _id:'123', content: "When can we meet?"},
                {is_active: true, is_completed: false, _id:'124', content: "Tomorrow have a meeting with boss"}
            ]
        },
        methods: {
            addItem() {
                this.items.push({
                    is_active: true,
                    is_completed: false,
                    content: this.current
                });
                this.current = '';
            },
            markCompleted(e, item) {                
                if (item.is_completed) {
                    item.is_completed = !item.is_completed;
                } 
                // else {
                //     item.is_completed = true;
                // }
            }
        }
    });
  </script>
</html>